In [1]:
import pandas as pd
import numpy as np

In [2]:
sub1 = pd.read_csv('cat_oof3.csv')
sub2 = pd.read_csv('et_all_5features.csv')
sub3 = pd.read_csv('tabnet.csv')

In [3]:
# catboost 모델과 extratrees 모델 tabnet 모델을 3:2:5의 비율로 가중평균 적용
sub = np.zeros((sub1.shape[0],))
sub = pd.DataFrame(sub)
sub['index'] = sub1['index']
sub['INVC_CONT'] = sub1['INVC_CONT'] * 0.3 + sub2['INVC_CONT'] * 0.2 + sub3['INVC_CONT'] * 0.5

In [4]:
sub = sub.iloc[:,1:]
sub

      index  INVC_CONT
0     32000   4.732226
1     32001   5.326867
2     32002   4.886235
3     32003   4.957809
4     32004   4.915954
...     ...        ...
4635  36635   4.720831
4636  36636   4.684784
4637  36637   4.547546
4638  36638   4.479044
4639  36639   4.408767

[4640 rows x 2 columns]

In [5]:
sub.describe()

              index    INVC_CONT
count   4640.000000  4640.000000
mean   34319.500000     4.565342
std     1339.596954     3.239862
min    32000.000000     3.472098
25%    33159.750000     3.733710
50%    34319.500000     4.460864
75%    35479.250000     4.882905
max    36639.000000   162.931860

In [6]:
sub.to_csv('submission_ensemble4.csv',index=False)